.event-list{
    /* padding: 30px; */
    margin:auto; 
    width: 90%;  
    border: solid yellow 2px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.event-item{
    margin:auto; 
    width: 95%; 
    border: solid blue 2px; 
    border-radius: 10px;
    margin-top : 20px;
}
.event-title{
    color: white;
    padding:20px;
}

.event-description{
    color: #ddd;
    padding: 1% 3%;
    text-align: justify;
}

.event-description p{
    margin-bottom: 2%;
}


@media only screen and (max-width: 700px) {
    /* body {
      background-color: lightblue;
    } */
    .event-list{
        border: none;
    }
         
  }