<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR!</title>
    <meta
      content="VISION is a National Level Intercollegiate Technical Symposium organized by the Department of Electronics and Communication Engineering. Exclusively run by students, it's an annual summit for both young and experienced industry practitioners, researchers and students who join to share experiences and develop networks. It provides ample opportunities for the multi-pronged growth of the student fraternity and has undoubtedly become a must-visit-fest for every engineering student."
      name="description"
    />

    <meta
      content="VISION, vision, visionece, visionceg,vision sympo,Symposium, CEG, ECE, techincal, College of engineering guindy, Technical events, Non technical events,ecea ceg"
      name="keywords"
    />
    <link href="/images/error.png" rel="icon" />
    <link rel="stylesheet" href="/css/styleerror.css" />
    <link rel="stylesheet" href="/css/stylepartials.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <section class="main">
        <div class="title"><h1>OOPS!</h1></div>
        <div class="subtitle"><h3>Error: 404 <span style="margin-left: 10px;">Page Not Found!</span></h3></div>
        <div class="center">
          <a class="back-button" href="/">GO BACK TO HOME</a>
        </div>
      </section>
    </div>
  </body>
</html>
