<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Techofes Website</title>

  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.min.css">

  <!-- REVOLUTION LAYERS STYLES -->
  <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
  <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="stylesheet/style.css">

  <!-- Colors -->
  <link rel="stylesheet" type="text/css" href="stylesheet/colors/color1.css" id="colors">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="stylesheet/responsive.css">

  <!-- events items -->
  <link rel="stylesheet" type="text/css" href="stylesheet/event-items.css">

  <!-- Favicon and touch icons  -->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- bootstrap cdn -->
  <!-- CSS only -->

    <style>



    </style>

</head>


<body>



  <!-- navbar start -->
  <header id="header" class="header bg-color" style="background: #181818;">
    <div class="container">
      <div class="row">
        <div class="header-wrap">
          <div id="logo" class="logo">
            <a href="/" title="">
              <img src="images/tlogo.png"  style="width:100px; height:50px;" alt="Techofes logo" />
            </a>
          </div><!-- /#logo -->

          <div class="nav-wrap">
            <div class="btn-menu">
              <span></span>
            </div><!-- //mobile menu button -->
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li >
                  <a href="/" title="">HOME</a>
                </li>
                <li>
                  <a href="/about" title="">ABOUT</a>
                </li>
                <li>
                  <a href="/events" title="">EVENTS</a>
                </li>
                <li>
                  <a href="/sponsors" title="">SPONSORS</a>

                </li>
                <li>
                  <a href="/gal" title="">GALLERY</a>

                </li>
                <li>
                  <a href="/contact" title="">CONTACT US</a>
                </li>
                <li>
                  <a href="/register">REGISTER</a>
                </li>
              </ul><!-- /.menu -->
            </nav><!-- /#mainnav -->
          </div><!-- /.nav-wrap -->
        </div><!-- /.header-wrap -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </header><!-- /#header -->
  <!-- navbar end -->
  <section style="width: 100%; background: #000">
    <div class="container" style="padding-top: 7%;">
        <div class="row" >
          <div class="col-md-6"style="margin: auto; text-align: center;">
            <div class="wrap-recent-text" style="margin: auto; text-align: center;">
              <h2 class="title" style="color: #FFF;">DANCE EVENTS</h2>
            </div>
          </div>
        </div>
    </div>

        <div class="event-list">
            <div class="event-item" >
                <h3 class="event-title"> Choreo Night Non-theme (TREMORS) </h3>
                <div class="event-description">
                    <p><strong>“GREAT DANCERS ARE NOT GREAT BECAUSE OF THEIR TECHNIQUES; THEY ARE GREAT BECAUSE OF THEIR PASSION”</strong> </p>
<p>You’ve got the stage to leave your mark. Embrace it, cherish it, conquer it and make it count.</p>
<p>Yaaay! Light up the stage with your crew and make jaws drop with your stunning dance moves. Techofes choreo night is one of the oldest and biggest inter-collegiate dance competitions in South India. So do take part in this grand event and prove that you are the best crew in the empire.</p>

                </div>
            </div>


            <div class="event-item" >
                <h3 class="event-title"> Choreo Night Theme (TAAL)</h3>
                <div class="event-description">
                    <p><strong>"Taal"</strong> - a themed group dance</p>
                    <p>Dancers! </p>
                    <p>Weave a story, create a world, bring out strong emotions all with just your movements and combined visuals. The stage is yours to invoke emotions with your message and make lasting impressions.</p>

                </div>
            </div>

            <div class="event-item" >
                <h3 class="event-title"> Intra College Group Dance </h3>
                <div class="event-description">
                    <p>Fellow college mates, this is your chance to show off your moves and style to all your friends! Dance your hearts out at your home stage and create a vibe that brings the audience to their feet.</p>
                </div>
            </div>

            <div class="event-item" >
                <h3 class="event-title"> Inter College Solo Dance</h3>
                <div class="event-description">
                    <p><strong>“It takes everything to stand alone.”</strong> </p>
                    <p>Don’t worry you have the floor with you.</p>
                    <p>Techofes-22 presents you with the solo dance competition for every solo enthusiast. Come perform your best moves and highlight your greatest strengths and dance your way to victory.</p>
                </div>
            </div>

            <div class="event-item" >
                <h3 class="event-title"> Inter college duo dance </h3>
                <div class="event-description">
                    <p>Two is always better than one. It feels great when you dance with your mate. Come dance with your partner and mesmerize the audience in a pair with your sizzling chemistry.</p>
                </div>
            </div>

            <div class="event-item" >
                <h3 class="event-title"> Classical dance - NRITHYOPASANA </h3>
                <div class="event-description">
                    <p>Do you find yourself subconsciously tapping your feet to music? Do you sway when you hear a Carnatic melody? Then Saptham’s Nrithyopasana is the perfect fit for you! A little bit of nritta and abhinayam is all you need to know to participate! Come show off your best navarasa and jathis this techofes!</p>
                </div>
            </div>
        </div>

    </section>

  <!-- footer -->
    <footer id="footer_background">
      <section class="footer-class" style="background-color: #181818;">
      <div class="footer-bottom">
        <div class="container" style="padding-top: 2em;">
          <div style="text-align: center;">
            <h2 style="font-weight:bolder; color: white;">SAAS</h2>
            <p>
                <div style="font-size: 20px;font-weight:600;">CEG, Anna University,</div>
                <div style="font-size: 18px;padding-top:3px;">Chennai.</div>
            </p>
        </div>
        <div class="row" style="padding-top: 2%;">
            <div class="col-lg-6 col-sm-12" style="text-align: center;">
                <a class="cona" href="#" target="_blank" title="Visit LinkedIn Profile"><p class="con">xxxxx</p></a>
                <a href="mailto:xxxxx@gmail.com" class="mai"><p><i class="fa fa-envelope" aria-hidden="true"></i>  xxxxx@gmail.com</p></a>
            </div>
            <div class="col-lg-6 col-sm-12" style="text-align: center;">
                <a class="cona" href="#" target="_blank" title="Visit LinkedIn Profile"><p class="con">yyyyy</p></a>
                <a href="mailto:yyyyyy@gmail.com" class="mai"><p><i class="fa fa-envelope" aria-hidden="true"></i>  yyyyyy@gmail.com</p></a>
            </div>

        </div>
        <div class="row" style="padding-bottom:5%; padding-top: 1%;">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:techofesceg@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="menu-ft-bottom">
              <li>
                <a href="index.html" title="">Home</a>
              </li>
              <li>
                <a href="./index.html#about" title="">About</a>
              </li>
              <li>
                <a href="./events.html" title="">Events</a>
              </li>
              <li>
                <a href="./index.html#sponsors" title="">Sponsors</a>
              </li>
              <li>
                <a href="#" title="">FAQ</a>
              </li>
              <li>
                <a href="./index.html#contact" title="">Contact</a>
              </li>
              <li>
                <a href="#" title="">Account</a>
              </li>
            </ul>
            <div class="copyright">
              <p>© Copyright SAAS CEG </p>
            </div>
          </div>
        </div>
        </div><!-- /.container -->
      </div><!-- /.footer-bottom -->
      </section>
    </footer><!-- /#footer_background -->

    <div class="button-go-top">
      <a href="#" title="" class="go-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div><!-- /.button-go-top -->

  </div> <!-- /.boxed -->



    <!-- Javascript -->






    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/tether.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>

    <script type="text/javascript" src="javascript/jquery-countTo.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascript/waypoints.min.js"></script>
    <script type="text/javascript" src="javascript/main.js"></script>



    <!-- Revolution Slider -->
    <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="revolution/js/slider_v1.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>


  </body>

  </html>
