<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
  <!-- Basic Page Needs -->
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Techofes Website</title>

  <meta name="author" content="themsflat.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



  <!-- Boostrap style -->
  <link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.min.css">

  <!-- REVOLUTION LAYERS STYLES -->
  <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
  <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">

  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="stylesheet/style.css">

  <!-- Colors -->
  <link rel="stylesheet" type="text/css" href="stylesheet/colors/color1.css" id="colors">

  <!-- Reponsive -->
  <link rel="stylesheet" type="text/css" href="stylesheet/responsive.css">

  <!-- events css -->
  <link rel="stylesheet" type="text/css" href = "stylesheet/events-card.css">

  <!-- Favicon and touch icons  -->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- bootstrap cdn -->
  <!-- CSS only -->

</head>


<body>



  <!-- navbar start -->
  <header id="header" class="header bg-color" style="background: #181818;">
    <div class="container">
      <div class="row">
        <div class="header-wrap">
          <div id="logo" class="logo">
            <a href="index.html" title="">
              <img src="images/logo.png"  style="width:100px; height:50px;" alt="Techofes logo" />
            </a>
          </div><!-- /#logo -->

          <!-- search -->
          <!-- <div class="flat-show-search">
            <div class="show-search">
                              <i class="fa fa-search"></i>
                          </div>
                          <div class="top-search">
                              <form action="#" id="searchform-all" method="get">
                                  <div>
                                      <input type="text" id="s" class="sss" placeholder="Search...">
                                      <input type="submit" value="" id="searchsubmit">
                                  </div>
                              </form>
                          </div>
                      </div>	 -->
          <!-- search end -->

          <div class="nav-wrap">
            <div class="btn-menu">
              <span></span>
            </div><!-- //mobile menu button -->
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li >
                  <a href="index.html" title="">HOME</a>
                </li>
                <li>
                  <a href="#" title="">ABOUT</a>
                </li>
                <li class="active">
                  <a href="#" title="">EVENTS</a>
                </li>
                <li>
                  <a href="#" title="">SPONSORS</a>

                </li>
                <li>
                  <a href="#" title="">FAQ</a>

                </li>
                <li>
                  <a href="#" title="">CONTACT US</a>
                </li>
                <li>
                  <a href="#">ACCOUNT</a>
                </li>
              </ul><!-- /.menu -->
            </nav><!-- /#mainnav -->
          </div><!-- /.nav-wrap -->
        </div><!-- /.header-wrap -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </header><!-- /#header -->
  <!-- navbar end -->

  <script>
    function gotoSite(siteName) {
      window.location.href= siteName;
    }
  </script>

  <!-- events card start -->
  <div class="ecard">
  <div class="events-container">

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="java">
          <ul>
            <li>
              Choreo Night Non-theme (TREMORS)
            </li>
            <li>
              Choreo Night theme ( TAAL)
            </li>
            <li>
              Intra College Group Dance
            </li>
            <li>
              Inter College Solo dance
            </li>
            <li>
              Inter college duo dance
            </li>
            <li>
              Classical dance - Nrithyopasana
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('dance.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>DANCE</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Euphony - Solo Singing and solo Instrumental
            </li>
            <li>
              Battle of Bands
            </li>
            <li>
              Lyrical Miracle
            </li>
            <li>
              Nadhopasana - Classical Music
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('music.html')">Info</button>
        </p>
      </div>
    </div>

    
    <div class="face face2">
      <h2>MUSIC</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Inter Variety
            </li>
            <li>
              Intra Variety
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info"  onclick="gotoSite('variety.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>VARIETY</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Kollywood Quiz
            </li>
            <li>
              Night Owl General Quiz
            </li>
            <li>
              Sports Quiz
            </li>
            <li>
              Meme and Entertainment Quiz
            </li>
            <li>
              India Quiz
            </li>
            <li>
              Pop x Tech Quiz
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('quiz.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>QUIZ</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Mandala Art
            </li>
            <li>
              Face Painting
            </li>
            <li>
              Rangoli
            </li>
            <li>
              Techofes Doodle
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>Fine Arts</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              E(ntre)-hnt
            </li>
            <li>
              Mystery Marketing
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('market_entre.html')">Info</button>
        </p>  
      </div>
    </div>
    <div class="face face2">
      <h2 style="text-align: center;">Marketing and Entrepreneurship</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Sithiramum Sentamizhum
            </li>
            <li>
              Oru Varthai Oru Latcham
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('tam_lit.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>Tamil Literature</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Pic Of The Day
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('photography.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>PHOTOGRAPHY</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Jalabula Jangu Vibe pannu Pangu - (Online Reels contest)
            </li>
            <li>
              Photography Contest - (Online photography contest )
            </li>
            <li>
              Meme Master - (Online meme contest )
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('online_event.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>ONLINE EVENTS</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              IPL Auction
            </li>
            <li>
              Connexions
            </li>
            <li>
              Case Closed
            </li>
            <li>
              Informals
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('general.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>GENERAL EVENTS</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Treasure Hunt
            </li>
            <li>
              Finding Groot
            </li>
            <li>
              Mystery Hunt
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info"  onclick="gotoSite('hunt.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>HUNT EVENTS</h2>
    </div>
  </div>


  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Oru Katha Solatuma Saar
            </li>
            <li>
              Mime
            </li>
            <li>
              Open Your Heart 
            </li>
            <li>
              Straw Man
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('fun_event.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>FUN EVENTS</h2>
    </div>
  </div>
  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Scotland Yard
            </li>
            <li>
              True detective
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('puzzle.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>PUZZLE EVENTS</h2>
    </div>
  </div>
  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              That's what you said 
            </li>
            <li>
              Verses vs Verses
            </li>
            <li>
              Word Wars
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('eng_lit.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>ENGLISH LITERATURE</h2>
    </div>
  </div>
  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Photography Workshop
            </li>
            <li>
              Make-up Workshop
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('workshop.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>WORKSHOPS</h2>
    </div>
  </div>
  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Lucky Wheel
            </li>
            <li>
              Build the pyramid
            </li>
            <li>
              Pop the balloons
            </li>
            <li>
              Pop the balloons
            </li>
            <li>
              Yen kathura
            </li>
            <li>
              Sack Race
            </li>
            <li>
              Straw Games
            </li>
            <li>
              Balloon Bursting
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('carnival.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>Carnivals</h2>
    </div>
  </div>
  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Cricket
            </li>
            <li>
              Football
            </li>
            <li>
              Volleyball
            </li>
            <li>
              Badminton
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info" onclick="gotoSite('sports.html')">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>SPORTS</h2>
    </div>
  </div>

  <div class="events-card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <p class="python">
          <ul>
            <li>
              Movie Screening
            </li>
            <li>
              Concert Night
            </li>
            <li>
              T-Awards
            </li>
            <li>
              Choreo Night
            </li>
            <li>
              Talent of Techofes
            </li>
          </ul>
          <br />
          <button type="button" class="btn btn-outline-info">Info</button>
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>NIGHT EVENTS</h2>
    </div>
  </div>

  
  
</div>
</div>
<!-- events card end -->

  <!-- footer -->
    <footer id="footer_background">
      <section class="footer-class" style="background-color: #181818;">
      <div class="footer-bottom">
        <div class="container" style="padding-top: 2em;">
          <div style="text-align: center;">
            <h2 style="font-weight:bolder; color: white;">SAAS</h2>
            <p>
                <div style="font-size: 20px;font-weight:600;">CEG, Anna University,</div>
                <div style="font-size: 18px;padding-top:3px;">Chennai.</div>
            </p>
        </div>
        <div class="row" style="padding-top: 2%;">
            <div class="col-lg-6 col-sm-12" style="text-align: center;">
                <a class="cona" href="#" target="_blank" title="Visit LinkedIn Profile"><p class="con">xxxxx</p></a>
                <a href="mailto:xxxxx@gmail.com" class="mai"><p><i class="fa fa-envelope" aria-hidden="true"></i>  xxxxx@gmail.com</p></a>
            </div>
            <div class="col-lg-6 col-sm-12" style="text-align: center;">
                <a class="cona" href="#" target="_blank" title="Visit LinkedIn Profile"><p class="con">yyyyy</p></a>
                <a href="mailto:yyyyyy@gmail.com" class="mai"><p><i class="fa fa-envelope" aria-hidden="true"></i>  yyyyyy@gmail.com</p></a>
            </div>

        </div>
        <div class="row" style="padding-bottom:5%; padding-top: 1%;">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:techofesceg@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="menu-ft-bottom">
              <li>
                <a href="index.html" title="">Home</a>
              </li>
              <li>
                <a href="./index.html#about" title="">About</a>
              </li>
              <li>
                <a href="./events.html" title="">Events</a>
              </li>
              <li>
                <a href="./index.html#sponsors" title="">Sponsors</a>
              </li>
              <li>
                <a href="#" title="">FAQ</a>
              </li>
              <li>
                <a href="./index.html#contact" title="">Contact</a>
              </li>
              <li>
                <a href="#" title="">Account</a>
              </li>
            </ul>
            <div class="copyright">
              <p>© Copyright SAAS CEG </p>
            </div>
          </div>
        </div>
        </div><!-- /.container -->
      </div><!-- /.footer-bottom -->
      </section>
    </footer><!-- /#footer_background -->

    <div class="button-go-top">
      <a href="#" title="" class="go-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div><!-- /.button-go-top -->

  </div> <!-- /.boxed -->



    <!-- Javascript -->






    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/tether.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>

    <script type="text/javascript" src="javascript/jquery-countTo.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascript/waypoints.min.js"></script>
    <script type="text/javascript" src="javascript/main.js"></script>



    <!-- Revolution Slider -->
    <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="revolution/js/slider_v1.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>


  </body>

  </html>
